@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #333;
  background: #FFFAF0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
}

header.bg-pink {
  background-color: #FFC0CB;
}

header.bg-transparent {
  background-color: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel .slide img {
  height: 400px; /* กำหนดความสูงของ Carousel */
  object-fit: cover; /* ปรับขนาดรูปภาพให้ครอบคลุมพื้นที่ */
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite; /* 5 วินาทีสำหรับรอบหมุน */
}